# requirements at 20.08.2023 by code from https://stackoverflow.com/a/54338705/5327352 
# and https://gist.github.com/timjorjev/6079d981d8a8f4e1c5b6de554a5dbf32

jcamp == 1.2.2
cirpy == 1.0.2
peakutils == 1.3.4
datamol == 0.11.2
rdkit == 2023.3.3
pandas == 2.0.3
matplotlib == 3.7.2
requests == 2.31.0
peakutils == 1.3.4
requests == 2.31.0
peakutils == 1.3.4
bs4 == 0.0.1
#BeautifulSoup == 3.2.2
#time == 1.0.0
tqdm == 4.66.1
jcamp == 1.2.2
numpy == 1.25.2
urlopen == 1.0.0
#logging == 0.4.9.6
argparse == 1.4.0
datamol == 0.11.2
scipy == 1.11.2
torch == 2.0.1
torchvision == 0.15.2
torchmetrics==1.0.3